/* Inizio common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 10px auto;
}
/* Fine common */

/* Inizio header sito */
header{
    background-color: pink ;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}
/* Fine header sito */

/* Inizio corpo centrale sito */
.boxgiallo{
    background-color: yellow ;
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}

.boxblu{
    background-color: blue;
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
}

footer{
    background-color: purple ;
    height: 50px;
    width: 100%;
}